<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CAFEModel" connectionString="data source=MSI\SQLEXPRESS;initial catalog=QuanLyQuanCafe;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="Cafe.Properties.Settings.QuanLyQuanCafeConnectionString"
      connectionString="Data Source=LTKH;Initial Catalog=QuanLyQuanCafe;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="Cafe.Properties.Settings.QuanLyQuanCafeConnectionString1"
      connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=QuanLyQuanCafe;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>